---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ceph-csi-config
  namespace: {{ KUBERNETES_CEPH_NAMESPACE }}
data:
  config.json: |-
    [
      {
        "clusterID": "{{ CEPH_CLUSTER_FSID }}",
        "monitors": [
{% for item in CEPH_MONITOR_IP_PORT %}
          "{{ item }}"{{ "," if not loop.last else "" }}
{% endfor %}
        ]
      }
    ]
