---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ RESOURCE_CEPH_CSI_CEPH_CONFIG_NAME }}
  namespace: {{ RESOURCE_CEPH_CSI_NAMESPACE_NAME }}
data:
  ceph.conf: |
    [global]
    auth_cluster_required = cephx
    auth_service_required = cephx
    auth_client_required = cephx
  keyring: |