---
apiVersion: v1
kind: Secret
metadata:
  name: {{ RESOURCE_CEPH_CSI_SECRET }}
  namespace: {{ RESOURCE_CEPH_CSI_NAMESPACE_NAME }}
stringData:
  userID: {{ CEPH_CLIENT_USER }}
  userKey: {{ CEPH_CLIENT_USER_KEY }}