---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ RESOURCE_CEPH_CSI_CONFIG_MAP_NAME }}
  namespace: {{ RESOURCE_CEPH_CSI_NAMESPACE_NAME }}
data:
  config.json: |-
    [
      {
        "clusterID": "{{ CEPH_CLUSTER_FSID }}",
        "monitors": [
{% for item in CEPH_MONITOR_IP_PORT %}
          "{{ item }}"{{ "," if not loop.last else "" }}
{% endfor %}
        ]
      }
    ]
